<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GIGA SCHEMA</title>
    <script language="javascript" type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.jqplot.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" language="javascript" src="http://www.google.com/jsapi?key=ABQIAAAA9zo6gDv1qbSijhp-laO8LhRtaEV2mWm6DEXnHoUWVBgk6yYnABTg47uTTr3vdw6iH57JplZ7uAlbDg"></script>
    <script language="javascript" type="text/javascript" src="/js/jsdeferred.js"></script>
    <script language="javascript" type="text/javascript" src="/js/gigaschema.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.jqplot.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/gigaschema.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960.css" />
  </head>
  <body id="{% block id %}{% endblock %}">
    <div class="container_12">

      <div id="header" class="prefix_7">
        <ul>
          {% if user %}<li><a href="/"><img class="user-icon" src="{{ user.small_avatar_url }}">ホーム</a></li>{% endif %}
          <li><a href="/data">みんなのデータ</a></li>
          <li>{% if not user %}<a href="{{ login_url }}">ログイン</a></li>{% endif %}
          <li>{% if user %}<a href="{{ logout_url }}">ログアウト</a></li>{% endif %}
          <li><a href="/help">ヘルプ</a></li>
        </ul>
      </div>
      <div class="clear"></div>

      <h1 id="logo" class="grid_12">
        <a href="/">
          <img class="fill" src="/image/logo.png">
        </a>
      </h1>
      <div class="clear"></div>

      <div class="grid_9" id="left-pane">
        <h2 class="grid_8 page-title banner-container">
          <img class="banner-top" src="http://chart.apis.google.com/chart?chst=d_text_outline&chld=00FF00|20|h|FF0000|b|{% block page_title %}ようこそ{% endblock %}">
          <img class="banner-bg" src="{% block page_title_bg %}/image/bg.png{% endblock %}">
        </h2>
        <div class="clear"></div>

        {% block content %}{% endblock %}
      </div>

      <div class="grid_3" id="right-pane">
        {% if h.owner %}

        {% if h.owner.is_current_user %}
        <div class="new-schema">
          <form action="/create" method="get">
            <input type="submit" value="新しいスキーマ" />
            </form>
        </div>
        <div class="clear"></div>
        {% endif %}

        <div class="user">
          <a href="{{ h.owner.url }}">
            <img class="user-icon" src="{{ h.owner.small_avatar_url }}">
            {{ h.owner.name }}
          </a>
        </div>
        <div class="clear"></div>

        {% if h.owner.schemas %}
        <div class="schemas">
          {% for schema in h.owner.schemas %}
          <div class="schema">
            <a href="{{ schema.url }}">
              <img class="user-icon" src="{{ h.owner.small_avatar_url }}">
              {{ schema.slug }}
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="clear"></div>
      {% endif %}

    </div>
  </body>
</html>
