<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GIGA SCHEMA</title>
    <script language="javascript" type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/jquery.jqplot.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" language="javascript" src="http://www.google.com/jsapi?key=ABQIAAAA9zo6gDv1qbSijhp-laO8LhRtaEV2mWm6DEXnHoUWVBgk6yYnABTg47uTTr3vdw6iH57JplZ7uAlbDg"></script>
    <script language="javascript" type="text/javascript" src="/js/jsdeferred.js"></script>
    <script language="javascript" type="text/javascript" src="/js/gigaschema.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.jqplot.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/gigaschema.css" />
  </head>
  <body id="{% block id %}{% endblock %}">
    <div id="whole">
      <div id="login-logout">
        {% if user %}
        ようこそ，{{ user.nickname }}さん．<br>
        <a href="{{ logout_url }}">ログアウト</a>
        {% else %}
        <a href="{{ login_url }}">ログイン</a>
        {% endif %}
      </div>
      <h1><a href="/"><img src="/image/logo.png"></a></h1>

      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
