{% extends "base_standard.html" %}

{% block id %}create{% endblock %}
{% block page_title %}CREATE{% endblock %}

{% block content %}

{% if user %}

<form id="create" method="POST" action="/">
    <label>
      <div class="grid_2">スキーマ名</div>
      <input type="text" name="name" placeholder="名前" />
    </label>
    <div class="clear"></div>
  <!-- <label>origin<input type="text" name="origin" placeholder="origin=*" /></label><br> -->
  <div class="prefix_2">
    <label><input type="checkbox" name="with-api-key">APIキーを使う</label><br>
  </div>
  <div class="clear"></div>
    <div class="prefix_2">
      <input type="submit" value="作る">
    </div>
    <div class="clear"></div>
</form>

{% else %}

<p>ログインすると，新しいスキーマを作ることができます．</p>
<p><a href="{{ login_url }}">☞Googleアカウントでログイン</a></p>

{% endif %}

{% endblock %}
