{% extends "base_standard.html" %}

{% block id %}create{% endblock %}
{% block page_title %}新しいスキーマ - GIGA SCHEMA{% endblock %}

{% block content %}

{% if user %}

<form id="create" method="POST" action="/">
  <label>スキーマ<input type="text" name="name" placeholder="名前" /></label>
  <div class="description">
    スキーマの名前はURLの一部になります．一度決めると変更できません．/と.は使えません．
  </div>
  <div class="clear"></div>
      <input type="submit" value="スキーマを作る">
    <div class="clear"></div>
</form>

{% else %}

<p>ログインすると，新しいスキーマを作ることができます．</p>
<p><a href="{{ login_url|escape}}">☞Googleアカウントでログイン</a></p>

{% endif %}

{% endblock %}
