{% extends "base_standard.html" %}

{% block id %}data{% endblock %}

{% block content %}
<ul class="inline-list">
  <li><a href="{{ data.json_url }}">JSON</a></li>
  <li><a href="{{ data.value_url }}">value</a></li>

  {% if data.media_url %}
  <li><a href="{{ data.media_url }}">{{ data.blob_info.extname }}</a></li>
  {% endif %}

  {% if data.schema.current_user_can_delete %}
  <li>
    <form method="POST" action="{{ data.url }}" data-confirm="このデータを削除しますか？">
      <input type="hidden" name="delete" value="1">
      <input type="submit" value="データを削除">
    </form>
  </li>
  {% endif %}

</ul>

{% include "macro/data_item.html" %}

{% endblock %}
