{% extends "base_index.html" %}
{% block id %}help{% endblock %}

{% block content %}
<h2>ヘルプ</h2>
<section>
  <h3>おおおおおおおおお？</h3>
  <p>ううううううううううううううううううううううううううううううううううううううううおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおお．</p>
  <p>ぶぶぶういえふぉいうぇおいおいふぃおおいいおふぉいえをいおいおいおいいふぉいふぉいふぉいふぉいおふぃふぉいおいふぉいふぉいっふぃお．</p>
</section>
<section>
  <h3>おおおおおおおおお？</h3>
  <p>ううううううううううううううううううううううううううううううううううううううううおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおおお．</p>
  <p>ぶぶぶういえふぉいうぇおいおいふぃおおいいおふぉいえをいおいおいおいいふぉいふぉいふぉいふぉいおふぃふぉいおいふぉいふぉいっふぃお．</p>
</section>
{% endblock %}
