<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GigaSchema</title>
  </head>
  <body>
    <h1>ようこそ</h1>
    {% if user %}
        <a href="{{ logout_url }}">ログアウト</a>
    {% else %}
        <a href="{{ login_url }}">ログイン</a>
    {% endif %}
    <p>ただいまの時間は<b>{{ today|date:"Y-m-d H:i:s"}}</b>です〜</p>

    <h2>スキーマ作る</h2>
    <form method="POST" action="/">
      <input type="text" name="name" placeholder="名前" />
      <input type="text" name="origin" placeholder="origin" />
      <input type="text" name="rule" placeholder="rule" />
      <input type="submit" value="作る">
    </form>
  </body>
</html>
