{% extends "base_index.html" %}

{% block id %}index{% endblock %}
{% block page_title %}ようこそ{% endblock %}

{% block content %}

<div id="welcome">
  <div id="copy"></div>
  <div id="dummy"></div>
  <div id="images"></div>
</div>
<div class="clear"></div>

<div id="lef-pane" class="grid_9">
  <ul class="data-list">
    {% for data in data_list %}
    {{ data.log }}
    <li>
        {{ data.as_html }}
    </li>
    {% endfor %}
    <li>
      <a href="/data">☞もっと見る</a>
    </li>
  </ul>
</div>
<div id="right-pane" class="grid_3">
  <div class="schemas">
    {% if user %}
    <div class="new-schema">
      <a href="/create">新しいスキーマ</a>
    </div>
    {% endif %}

    {% for schema in schema_list %}
    {{ schema.log }}
    <div class="schema">
      <a href="{{ schema.url }}">
        <img class="user-icon" src="{{ schema.small_avatar_url }}">
        {{ schema.slug }}
      </a>
    </div>
    {% endfor %}
    <div class="schema">
      <a href="/schema">☞もっと見る</a>
    </div>
  </div>
</div>
<div class="clear"></div>


{% endblock %}
