{% extends "base_index.html" %}

{% block id %}index{% endblock %}
{% block page_title %}GIGA SCHEMA{% endblock %}

{% block content %}

<link rel="alternate" type="application/atom+xml" href="/feed/"/>

<div id="welcome">
  <div id="copy"></div>
  <div id="dummy"></div>
  <div id="images"></div>
  <p>GIGA SCHEMAは，なんでも投稿できるデータベースみたいなウェブサービスです．</p>
</div>
<div class="clear"></div>

<div id="lef-pane" class="grid_9">
  <ul class="data-list">
    {% for data in data_list %}
    {{ data.log|escape}}
    <li>
        {{ data.as_html }}
    </li>
    {% endfor %}
    <li>
      <a href="/data">☞もっと見る</a>
    </li>
  </ul>
</div>
<div id="right-pane" class="grid_3">
  <div class="schemas">

    {% for schema in schema_list %}
    {{ schema.log|escape}}
    <div class="schema">
      <a href="{{ schema.url|escape}}">
        <img class="user-icon" src="{{ schema.small_avatar_url|escape }}">
        {{ schema.slug|escape }}
      </a>
    </div>
    {% endfor %}
    <div class="schema">
      <a href="/schema">☞もっと見る</a>
    </div>
  </div>
</div>
<div class="clear"></div>


{% endblock %}
