{% extends "base_standard.html" %}

{% block id %}recent_data{% endblock %}

{% block content %}

<h2>新着スキーマ</h2>
<div class="autopagerize_page_element">
  <ul class="schema-list">
    {% for schema in pager.data %}
    <li>
      <a href="{{ schema.url }}">{{ schema.slug }}</a>
    </li>
    {% endfor %}
  </ul>

  {% if pager.has_prev %}
  <a href="{{ pager.url}}?page={{pager.prev_page}}" rel="prev" >prev</a>
  {% endif %}
  {% if pager.has_next %}
  <a href="{{ pager.url}}?page={{pager.next_page}}" rel="next" >next</a>
  {% endif %}
</div>


{% endblock %}
