{% extends "base_standard.html" %}

{% block page_title %}新着スキーマ - GIGA SCHEMA{% endblock %}

{% block id %}recent_schema{% endblock %}

{% block content %}

<div class="autopagerize_page_element schemas">
  {% for schema in pager.data %}
  <div class="schema">
    <a href="{{ schema.url }}">
      <img class="big-user-icon" src="{{ schema.avatar_url }}">
      {{ schema.slug }}
    </a>
  </div>
  {% endfor %}

  {% if pager.has_prev %}
  <a href="{{ pager.url}}?page={{pager.prev_page}}" rel="prev" >☜</a>
  {% endif %}
  {% if pager.has_next %}
  <a href="{{ pager.url}}?page={{pager.next_page}}" rel="next" >☞</a>
  {% endif %}
</div>


{% endblock %}
