{% extends "base_standard.html" %}

{% block page_title %}新着スキーマ - GIGA SCHEMA{% endblock %}

{% block id %}recent_schema{% endblock %}

{% block content %}

<div class="autopagerize_page_element schemas">
  {% for schema in pager.data %}
  <div class="schema">
    <a href="{{ schema.url|escape }}">
      <img class="big-user-icon" src="{{ schema.avatar_url|escape }}">
      {{ schema.slug|escape }}
    </a>
  </div>
  {% endfor %}

  {% if pager.has_prev %}
  <a href="{{ pager.url|escape}}?page={{pager.prev_page|escape}}" rel="prev" >☜</a>
  {% endif %}
  {% if pager.has_next %}
  <a href="{{ pager.url|escape}}?page={{pager.next_page|escape}}" rel="next" >☞</a>
  {% endif %}
</div>


{% endblock %}
