{% extends "base_standard.html" %}

{% block page_title %}{{ schema.slug }}の設定 - GIGA SCHEMA{% endblock %}

{% block id %}schema-setting{% endblock %}

{% block content %}

<div class="schema-setting">
<form method="POST" action="{{ schema.setting_url }}">
  <table class="setting">
  <tr>
    <th>スキーマ</th>
    <td>{{ schema.name }}</td>
  </tr>
  <tr>
    <th>APIキー</th>
    <td>
      <label>
        {% if schema.api_key %}
        <div>{{ schema.api_key }}</div>
        {% endif %}
        <label><input type="radio" name="api_key_method" value="use" {% if schema.api_key %}checked="checked"{% endif %}>APIキーを使う</label>
        <div class="description">
          {{ schema.owner.nickname }}さんだけがスキーマにデータを投稿，データを削除できます．API経由でデータを投稿する際にはAPIキーを指定します．
        </div>
        <label><input type="radio" name="api_key_method" value="not_use"{% if not schema.api_key %}checked="checked"{% endif %}>APIキーを使わない</label>
        <div class="description">
          誰でもスキーマにデータを投稿，削除することができます．
        </div>
        {% if schema.api_key %}
        <label><input type="radio" name="api_key_method" value="reset">APIキーをリセット</label>
        <div class="description">
          不本意にAPIキーが人にばれてしまったときなどには，APIキーをリセットできます．
        </div>
        {% endif %}

    </td>
  </tr>
  <tr>
    <th>origin</th>
    <td>
      <input type="text" value="{{ schema.origin }}" name="origin" placeholder="*" size="60" />
      <div class="description">
        originを指定すると，このスキーマにAPI経由でアクセスできるドメインを制限することができます．通常は，全てのドメインからのアクセスを許可しています．ここで指定した値は，Access-Control-Allow-Originの値になります．<br>
        詳しくはこちらをご覧ください．<br>
        <ul>
          <li><a href="http://www.w3.org/TR/XMLHttpRequest2/">XMLHttpRequest Level 2</a></li>
          <li><a href="https://developer.mozilla.org/en/http_access_control">HTTP access control - MDC Doc Center</a></li>
        </ul>
      </div>
    </td>
  </tr>
</table>
  <input type="submit" value="設定を保存">
</form>
</div>

<div class="schema-delete">
<form method="POST" action="{{ schema.url }}" data-confirm="このスキーマを削除しますか？">
  <input type="hidden" name="delete" value="1">
  <input type="submit" value="スキーマの削除">
</form>
<div class="description">
  このスキーマと，このスキーマのデータを削除します．この操作は取り消せません．
</div>

</div>

{% endblock %}
