{% extends "base.html" %}

{% block content %}
<h1>スキーマページ設定ページです</h1>
<p>ここは<b>{{ owner_name }}</b>さんの<b>{{ schema_name }}</b><b>の設定ページ</b>です〜</p>

<h2>公開設定</h2>
<p>いま非公開です ← TODO</p>
<form method="POST" action="{{ schema_setting_url }}">
  <input type="text" name="value" placeholder="origin" /><br>
  <label><input type="radio" name="permission" value="public" checked="checked">公開</label>
  <label><input type="radio" name="permission" value="private">非公開</label>
  <input type="submit" name="permission" value="設定">
</form>

<h2>APIキーのリセット</h2>
<form method="POST" action="{{ schema_setting_url }}">
  <input type="hidden" name="reset_api_key" value="1">
  <input type="submit" value="リセット">
</form>

{% endblock %}
