{% extends "base.html" %}

{% block id %}schema{% endblock %}

{% block content %}

<h2>{{ schema.slug }}</h2>

<div><a href="{{ schema.json_url }}">JSON</a></div>

{% if schema.api_key and schema.current_user_is_owner %}
<p>APIキー<input type="text" readonly="readonly" class="api_key" value="{{ schema.api_key }}" size="60" ></input></p>
<a href="{{ schema.setting_url }}">設定</a>
{% endif %}

{% if schema.has_data %}
<div id="chart"></div>
{% endif %}

<h2>データを投稿</h2>
{% if schema.current_user_can_post %}
<form id="new-data" method="POST" action="{{ schema_url }}">
  <!-- <input type="text" name="group" placeholder="group" /> -->
  <textarea name="value" placeholder="value" rows="3" cols="20" ></textarea>
  {% if schema.api_key %}
  <input type="hidden" name="api_key" value="{{ schema.api_key }}" />
  {% endif %}
  <input type="submit" value="作る" disabled="disabled">
</form>
{% else %}
  <p>このスキーマに投稿するにはAPIキーが必要です．</p>
{% endif %}

<h2>データ</h2>
{% include "macro/data_pager.html" %}

{% endblock %}
