{% extends "base_standard.html" %}

{% block id %}schema{% endblock %}
{% block page_title %}{{ schema.slug }} - GIGA SCHEMA{% endblock %}
{% block page_title_bg %}{{ h.owner.avatar_url }}{% endblock %}

{% block content %}

<link rel="alternate" type="application/atom+xml" href="{{ schema.feed_url }}"/>

<div>
<ul class="inline-list">
  {% if schema.api_key and schema.current_user_is_owner %}
  <li>
  <label>APIキー<input type="text" readonly="readonly" class="api_key" value="{{ schema.api_key }}" class="grid_4" ></input></label>
  </li>
  {% endif %}
  {% if schema.current_user_is_owner %}
  <li>
    <a href="{{ schema.setting_url }}">設定</a>
  </li>
  {% endif %}
  <li>
    <a href="{{ schema.json_url }}">JSON</a>
  </li>
  <li>
    <a href="{{ schema.random_json_value_url }}">random JSON value</a>
  </li>
</ul>
</div>
<div class="clear"></div>

{% if schema.has_data %}
<div id="chart" class="grid_8" style="width: 620px; height: 240px;"></div>
<div class="clear"></div>
{% endif %}

{% if schema.current_user_can_post %}
<form id="new-data" method="POST" action="{{ schema_url }}">
  <!-- <input type="text" name="group" placeholder="group" /> -->
  <textarea class="grid_8" name="value" placeholder="なにか書くと値を追加できます．"></textarea>
  {% if schema.api_key %}
  <input type="hidden" name="api_key" value="{{ schema.api_key }}" />
  {% endif %}
  <div class="clear"></div>
  <input type="submit" value="値を追加" disabled="disabled">
</form>
<div class="clear"></div>
{% else %}
  <p>このスキーマに投稿するにはAPIキーが必要です．</p>
{% endif %}


{% include "macro/data_pager.html" %}

{% endblock %}
