{% extends "base.html" %}

{% block id %}schema{% endblock %}

{% block content %}

<h1>スキーマページです</h1>
<p>ここは<b>{{ schema.owner.nickname }}</b>さんの<b>{{ schema.name }}</b>です〜</p>

{% if schema.current_user_is_owner %}
<a href="{{ schema.setting_url }}">設定</a>
{% endif %}


{% if schema.data_has_number %}
<h2>グラフ</h2>
<div id="chartdiv" style="height:300px;width:500px; "></div>
{% endif %}

{% if schema.current_user_can_post %}
<h2>データ作る</h2>
<form method="POST" action="{{ schema_url }}">
  <input type="text" name="group" placeholder="group" />
  <input type="text" name="value" placeholder="value" />
  {% if schema.api_key %}
  <input type="hidden" name="api_key" value="{{ schema.api_key }}" />
  {% endif %}
  <input type="submit" value="作る">
</form>
{% endif %}

<h2>データ</h2>
<ul class="data-list">
{% for data in pager_data %}
<li>
  {% include "macro/data_item.html" %}
</li>
{% endfor %}
</ul>

{% if pager_has_next %}
<a href="{{ schema.url}}?page={{pager_next_page}}">next</a>
{% endif %}

{% endblock %}
