{% extends "base_standard.html" %}

{% block id %}schema-setting{% endblock %}

{% block content %}

<div class="schema-setting">
<form method="POST" action="{{ schema.setting_url }}">
  <table class="setting">
  <tr>
    <th>スキーマ</th>
    <td>{{ schema.name }}</td>
  </tr>
  <tr>
    <th>APIキー</th>
    <td>
      <label>
        {% if schema.api_key %}
        <div>{{ schema.api_key }}</div>
        {% endif %}
        <label><input type="radio" name="api_key_method" value="use" {% if schema.api_key %}checked="checked"{% endif %}>APIキーを使う</label>
        <br>
        <label><input type="radio" name="api_key_method" value="not_use"{% if not schema.api_key %}checked="checked"{% endif %}>APIキーを使わない</label>
        {% if schema.api_key %}
        <br>
        <label><input type="radio" name="api_key_method" value="reset">APIキーをリセット</label>
        {% endif %}
        <div class="description">
          APIキーを設定すると，{{ schema.owner.nickname }}さんと，APIキーを知っている人だけがこのスキーマに投稿できます．
        </div>
    </td>
  </tr>
  <tr>
    <th>origin</th>
    <td>
      <input type="text" value="{{ schema.origin }}" name="origin" placeholder="*" size="60" />
      <div class="description">
        originを指定すると，このスキーマにアクセスできるドメインを制限することができます．通常は，全てのドメインからのアクセスを許可しています．
      </div>
    </td>
  </tr>
</table>
  <input type="submit" value="設定を保存">
</form>
</div>

<div class="schema-delete">
<form method="POST" action="{{ schema.url }}" data-confirm="このスキーマを削除しますか？">
  <input type="hidden" name="delete" value="1">
  <input type="submit" value="スキーマの削除">
</form>
<div class="description">
  このスキーマと，このスキーマのデータを削除します．この操作は取り消せません．
</div>

</div>

{% endblock %}
