{% extends "base_standard.html" %}

{% block content %}

{% if h.owner.is_current_user %}
  {% if not h.owner.schemas %}
    <p>ヘイ，新しいスキーマを作りましょう．</p>
    <div class="new-schema">
      <form action="/create" method="get">
        <input type="submit" value="新しいスキーマ" />
      </form>
    </div>
  {% endif %}

{% endif %}

{% if h.owner.data %}
  <ul class="data-list">
    {% for data in h.owner.data %}
    <li>
        {{ data.as_html }}
    </li>
    {% endfor %}
  </ul>
{% endif %}

<div class="clear"></div>
{% endblock %}
