{% extends "base_standard.html" %}

{% block page_title %}{{ h.owner.name }}{% endblock %}
{% block page_title_bg %}{{ h.owner.avatar_url }}{% endblock %}

{% block content %}

{% if h.owner.schemas %}
<h2>データ一覧</h2>
<ul class="schema-list">
{% for schema in h.owner.schemas %}
<li class="schema-item">
  <a href="{{ schema.url }}">{{ schema.slug }}</a>
</li>
{% endfor %}
</ul>
{% endif %}

{% if h.owner.data %}
<h2>データ</h2>
  <ul class="data-list">
    {% for data in h.owner.data %}
    <li>
      {% include "macro/data_item.html" %}
    </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
