<div class="data">
  {% if data.is_text_item %}
  <span class="body">{{ data.value }}</span>
  {% else %}
    {% if data.is_number_item %}
      <span class="body">{{ data.value }}</span>
    {% else %}
      {% if data.is_image_item %}
      <img src="{{ data.value }}">
      {% else %}
        {% if data.is_audio_item %}
        <div><audio src="{{ data.value }}" controls="controls"></div>
        {% else %}
          {% if data.is_url_item %}
          <a href="{{ data.value }}">{{ data.value }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
  <br>
  ({{ data.item_type }}) <a href="{{ data.url }}">{{ data.created_on|date:"Y-m-d H:i:s"}}</a>
</div>
