/* * { */
/*     font-family:"arial","helvetica",sans-serif; */
/* } */


div#whole {
    margin:0 auto 0;
    width: 80%;
    max-width: 800px;
}

#login-logout {
    font-size: 80%;
    position: absolute;
    top: 1em;
    right: 1em;
    text-align: right;
}

a {
    border: 0;
    color: #000;
}

h1 {
    height: 360px;
    margin-bottom: 50px;
}

/* welcome */

#welcome {
    height: 300px;
    margin-bottom: 50px;
}

#welcome #copy {
    font-weight: bold;
    font-size: 40px;
}

#welcome img {
    max-width: 230px;
    max-height: 200px;
    -webkit-border-radius: 10px;
    margin: 5px;
}

/* index */
#create-schema {
    font-size: 30px;
}

/* data-item */

ul.data-list {
    list-style-type: none;
    padding-left: 0px;
}

.data-item {
    /* border: 1px solid; */
    padding: 5px;
    margin-bottom: 5px;

    border-bottom: 1px solid #666;
}

.data-item.odd {
    background: #eef;
}

.data-item .body {
    font-size: 150%;
}

.data-item .info {
    font-size: 80%;
    text-align: right;
}

.data-item .info a {
    color: #666;
}
