/* common */

a {
    color: #666;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

h2 {
    padding-top: 30px;
}

img.user-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 1px;
    margin-right: 1px;
}

img.big-user-icon {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 1px;
    margin-right: 1px;
}

.banner-container {
    position: relative;
}

img.banner-bg {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

img.banner-top {
    z-index: 10;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

img.fill {
    width: 100%;
    height: 100%;
}

ul.inline-list {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
ul.inline-list li {
    display: inline;
    margin-left: 15px;
}

ul.inline-list form {
    display: inline;
}

div.description {
    margin: 1em;
    font-size: 85%;
}

/* header */

/* logo */

h1 {
    height: 90px;
    margin-bottom: 30px;
}

/* welcome */

#welcome {
    margin-bottom: 30px;
    min-height: 350px;
}

#welcome #images {
    margin:0 auto 0;
}

#welcome #copy {
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
}

#welcome img {
    min-width: 250px;
    max-width: 250px;
    max-height: 250px;
    -webkit-border-radius: 10px;
    margin: 10px;
}

#welcome p {
    visibility: hidden;
    margin: 1em;
}

/* pane */
#left-pane {
}

#right-pane {
}

#left-pane, #right-pane {
    padding-top: 5px;
    min-height: 500px;
}

/* left-pane */

h2.page-title {
    height: 60px;
    /* margin-bottom: 30px; */
}

ul.data-list {
    margin-top: 30px;
    list-style-type: none;
}

ul.data-list li {
    padding-left: 0px;
}

.data-item {
    min-height: 30px;
    margin-bottom: 30px;
    word-break: break-all;
}

.data-item .body {
    font-size: 150%;
}

.data-item .info {
    color: #666;
}

/* user */

.user {
    height: 30px;
}

/* right-pane */

/* new-schema */
#right-pane .new-schema {
    height: 30px;
}

/* schemas */
.schemas {
    /* margin-top: 30px; */
}

.schemas .schema {
    height: 30px;
}

.schemas .schema.selected {
    font-weight: bold;
}

#right-pane a, .schemas .schema a {
    text-decoration: none;
    color: #333;
}

#right-pane a:hover, .schemas .schema a:hover {
    text-decoration: underline;
}

body#user #right-pane .owner {
    font-weight: bold;
}


/* pages */

/* schema page */
body#schema #left-pane #chart {
    height: 240px;
}

body#schema form#new-data textarea {
    height: 60px;
}

body#schema #new-data {
    margin-top: 30px;
    margin-bottom: 30px;
}

body#recent_schema #left-pane .schema {
    min-height: 60px;
    font-size: 30px;
    margin-bottom: 30px;
}

/* data page */

body#data #left-pane .data-item {
    margin-top: 60px;
}

body#data #left-pane .data-item .body {
    font-size: 400%;
}

body#data #left-pane .data-item .info {
    margin-top: 30px;
}

body#data #left-pane .data-item .info .time {
    display: inline;
}

body#data #left-pane .data-item .info .tweet-button-container iframe {
    vertical-align: middle;
}

/* schema setting page */
body#schema-setting #left-pane .schema-setting {
    margin-bottom: 120px;
}
body#schema-setting #left-pane table.setting th,table.setting td {
    padding: 10px;
    text-align: left;
}
body#schema-setting #left-pane table.setting th {
    width: 100px;
    font-weight: bold;
}

body#schema-seting #left-pane .delete-schema {
    padding: 60px;
}

pre.api-sample {
    background-color: #eee;
    padding: 0 1.5em 1.5em 1.5em;
}

.hatena-syntax-generated table {
    border-spacing: 2px 2px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.hatena-syntax-generated table th {
    background: #eee;
    border: 1px solid #ccc;
}

.hatena-syntax-generated table td {
    border: 1px solid #ccc;
}

.hatena-syntax-generated dt {
    margin-top: 0.5em;
    font-weight: bold;
}

.hatena-syntax-generated dd {
    padding-left: 1em;
}


/* * { */
/*     margin: 0px; */
/*     padding: 0px; */

/*     color: #303030; */
/* } */

/* div#main { */
/*     /\* margin:0 auto 0; *\/ */
/*     /\* max-width: 800px; *\/ */
/*     background: white; */
/* } */

/* a { */
/*     border: 0; */
/*     color: #303030; */
/* } */

/* h2 { */
/*     font-size: 40px; */
/*     margin-bottom: 10px; */
/* } */

/* h1 img { */
/*     width: 100%; */
/*     height: 100%; */
/* } */

/* form,input { */
/*     font-size: 30px; */
/* } */

/* #header { */
/*     position: relative; */
/*     height: 70px; */
/*     margin-bottom: 20px; */
/*     background: yellow; */

/* } */

/* #header a { */
/*     color: white; */
/* } */

/* #header ul { */
/*     background: rgba(0,0,0,0.1); */
/*     position: absolute; */
/*     right: 0px; */
/*     bottom: 0px; */
/* } */

/* #header li { */
/*     display: inline; */
/* } */

/* #header li a { */
/*     font-size: 20px; */
/*     text-decoration: none; */
/*     margin-right: 1em; */
/* } */

/* /\* welcome *\/ */

/* #welcome { */
/*     height: 300px; */
/* } */

/* #welcome #images { */
/*     margin:0 auto 0; */
/*     width: 700px; */
/* } */

/* #welcome #copy { */
/*     font-weight: bold; */
/*     font-size: 40px; */
/* } */

/* #welcome img { */
/*     max-width: 230px; */
/*     max-height: 200px; */
/*     -webkit-border-radius: 10px; */
/*     margin: 5px; */
/* } */

/* /\* index *\/ */
/* #create-schema { */
/*     font-size: 30px; */
/* } */

/* /\* data-item *\/ */

/* ul.data-list { */
/*     list-style-type: none; */
/*     padding-left: 0px; */
/* } */

/* .data-item { */
/*     /\* border: 1px solid; *\/ */
/*     padding: 5px; */
/*     margin-bottom: 5px; */

/*     border-bottom: 1px solid #666; */
/* } */

/* .data-item .body { */
/*     font-size: 150%; */
/* } */

/* .data-item .info { */
/*     font-size: 80%; */
/*     text-align: right; */
/* } */

/* .data-item .info a { */
/*     color: #666; */
/* } */

/* /\* page content *\/ */
/* .navigation { */
/*     font-size: 30px; */
/* } */

/* /\* ------create------ *\/ */
/* body#create form#create { */
/*     margin: 40px; */
/*     line-height: 1.5em; */
/* } */

/* /\* schema page *\/ */
/* body#schema #chart { */
/*     height: 250px; */
/*     margin: 10px; */
/* } */


/* /\* schema-item *\/ */

/* ul.schema-list { */
/*     list-style-type: none; */
/*     padding-left: 0px; */
/* } */

/* .schema-item { */
/*     font-size: 150%; */
/*     padding: 5px; */
/*     margin-bottom: 5px; */

/*     border-bottom: 1px solid #666; */
/* } */
